<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Anvil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <targets>
      <target xsi:type="Debugger" name="debug" layout="${pad:padding=5:inner=${level:uppercase=true}} ${message} ${exception}" />
      <target xsi:type="File" name="logFile" layout="${pad:padding=5:inner=${level:uppercase=true}} ${message} ${exception}" fileName="${basedir}\logs\${level}.log" createDirs="true" />
    </targets>
    <rules>
      <logger name="*" writeTo="debug" />
      <logger name="*" writeTo="logFile" minlevel="Error" maxlevel="Fatal" />
    </rules>
  </nlog>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <Anvil.Properties.Settings>
      <setting name="IncludePreRelease" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value />
      </setting>
    </Anvil.Properties.Settings>
  </userSettings>
</configuration>
